.App {
  text-align: center;
  height: 100vh;
  padding: 50px;
  background-image: url(https://t4.ftcdn.net/jpg/05/20/06/15/360_F_520061593_ukrjpBJmXxRHy3GWjErO7joryhmYearx.jpg);
  background-size: 100% 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
